# notebook checkpoints
/.ipynb_checkpoints

/pksd/__pycache__/*
/pksd/*/__pycache__/*
/*/__pycache__/*
__pycache__/*
/high_dim/.ipynb_checkpoints/

# vscode
/.vscode/
/sh_scripts/pksd.code-workspace

/build

# figs
/figs/*
/figs_code/*

# egg-info
*.egg-info/*

# data
mnist/

# results
/res/*
